@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-paper-50 text-ink-900 font-sans;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #EFE9E3;
}

::-webkit-scrollbar-thumb {
  background: #D9CFC7;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C9B59C;
}
